VITE_WALLETCONNECT_PROJECT_ID=
VITE_INDEXER_URL=
VITE_AGENT_URL=
VITE_MANTLE_CHAIN_ID=5000
VITE_MANTLE_RPC=https://rpc.mantle.xyz
VITE_MANTLE_SEPOLIA_RPC=https://rpc.sepolia.mantle.xyz
VITE_IDENTITY_ADDRESS=
VITE_REPUTATION_ADDRESS=
VITE_VALIDATION_ADDRESS=
VITE_JOB_REGISTRY_ADDRESS=
VITE_SKILL_REGISTRY_ADDRESS=
VITE_WALLET_FACTORY_ADDRESS=
VITE_USDC_ADDRESS=
